
.emergeFromLeftSwitchAppear {
  transform: translateX(-20px);
  opacity: 0;
}

.emergeFromLeftSwitchAppearActive {
  transform: translateX(0);
  transition: all 0.3s ease-out;
  overflow-y: hidden;
  height: 100%;
}

.emergeFromLeftSwitchAppearDone {
  opacity: 1;
}

.emergeFromLeftSwitchEnter {
  transform: translateX(-20px);
  opacity: 0.5;
}

.emergeFromLeftSwitchEnterActive {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  overflow-y: hidden;
}

.emergeFromLeftSwitchEnterDone {
  opacity: 1;
}

.emergeFromLeftSwitchExit {
  transform: translateX(0);
  opacity: 1;
}

.emergeFromLeftSwitchExitActive {
  transform: translateX(-20px);
  transition: all 0.2s ease-out;
  opacity: 0;
}

.emergeFromLeftSwitchExitDone {
  opacity: 0;
}




.navigationMenu {

  &::-webkit-scrollbar {
    width: 5px !important;
  }
}
