.rx-spin-nested-loading {

  .rx-spin-container {
    width: 100%;
    height: 100%;
  }
}

.rx-table {

  .rx-table-container {

    .rx-table-header {
      &::-webkit-scrollbar {
        background: transparent;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px transparent;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }

  }
}

.rx-form.rx-form-horizontal {

  .rx-form-item {

    .rx-row.rx-form-item-row {

      .rx-form-item-control {


        .rx-form-item-control-input {
          .rx-form-item-control-input-content {

          }
        }

        .rx-form-item-additional {
          .rx-form-item-extra {


          }
        }
      }

    }

  }
}


.rx-alert {
  align-items: flex-start;
  line-height: 1.5em !important;

  .rx-alert-icon {
    font-size: unset;
    height: 1.5em;
  }

  .rx-alert-content {

    .rx-alert-message {

    }
  }

  .rx-alert-close-icon {
    height: calc(1.5em + 4px);
    font-size: calc(100% - 2px);
  }
}

:where(.rx-alert).rx-alert-with-description .rx-alert-message {
  margin-bottom: unset;
}



.rx-tag {
  margin-inline-end: unset;
}
