.navSwitchAppear {
  transform: translateX(-20px);
  opacity: 0;
  z-index: -1;
}

.navSwitchAppearActive {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.2s ease-out;
  overflow-y: hidden;
  height: 100%;
  z-index: -1;
}

.navSwitchAppearDone {
  opacity: 1;
  z-index: 1;
}

.navSwitchEnter {
  transform: translateX(-20px);
  opacity: 0.5;
}

.navSwitchEnterActive {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.2s ease-out;
  overflow-y: hidden;
  z-index: -1;
}

.navSwitchEnterDone {
  opacity: 1;
}

.navSwitchExit {
  transform: translateX(0);
  opacity: 1;
}

.navSwitchExitActive {
  transform: translateX(-20px);
  transition: transform,width 0.2s ease-out;
  opacity: 0;
  z-index: -1;
}

.navSwitchExitDone {
  opacity: 0;
}





.extensionGroupNavMenu {

  &::-webkit-scrollbar {
    width: 5px !important;
  }
}
